* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-item {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.text-big {
  font-size: 2rem;
  margin-bottom: 10px;
}

.text-small {
  font-size: 1rem;
}

.header-container {
  background-color: red;
}

.header-item button {
  background: red;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

/* Tittle section 1 Style */

.section1 {
  background-color: green;
  position: relative;
}

.main-heading {
  position: absolute;
  top: 5%;
  left: 50%;
  width: auto;
  transform: translateX(-50%);
  text-align: center;
}

.main-heading span {
  text-align: center;
  background-color: white;
  padding: 5px;
  font-size: 2rem;
}

.arc-gridX2-item-container h1,
.arc-gridX2-item-container span {
  padding: 20px 0;
}

.arc-gridX2-item-container span {
  display: inline-block;
}

.main-heading span:first-child {
  display: block;
}

.main-heading span:last-child {
  display: inline-block;
}

/* Grid style */

.arc-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  color: white;
}

.arc-gridX2-item-container {
  padding: 20px 80px;
}

.arc-gridX2-item-container:nth-child(odd) {
  background: #084509;
}

.pd-top {
  padding-top: 100px;
}

.arc-gridX2-item-container h1 {
  font-size: 2rem;
  line-height: 2.5rem;
}

.section2 {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.tag {
  position: relative;
}

.tag-count {
  position: absolute;
  top: -2px;
  left: 45px;
  font-size: 0.7rem;
}

/* styling secound part */

.arc-grid-container2 {
  display: flex;
  flex-wrap: wrap;
}

.arc-gridX3-item-container {
  flex: 0 1 33.3333%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.arc-grid-item2 {
  display: block;
  width: 100%;
}

.arc-grid-item2:visited {
  color: black;
}

.arc-grid-item2 h3,
.arc-grid-item2 p {
  margin: 10px 0;
}

.arc-grid-item2 span,
.arc-grid-item2 p {
  font-size: 1rem;
}

.arc-grid-item2 p {
  line-height: 1.75rem;
}

.arc-grid-item2 h3 {
  font-size: 1.5rem;
  text-decoration: underline;

}

.underline {
  text-decoration: underline;
}

.margin-tp-btm {
  display: block;
  margin: 30px 0;
}

.arrow {
  display: block;
  margin-top: 50px;
  padding: 20px;
  width: 50px;
}

.section2-footer {
  align-self: center;
  padding-bottom: 5px;
  border-bottom: brown 6px solid;
}

.section3 {
  background-color: lightblue;
  text-align: center;
  padding-top: 30px;
}

.small-white {
  font-size: 1rem;
  margin: 0 0 30px 0;
  color: white;
}

.big-white {
  font-size: 2rem;
  margin: 2px 0;
  color: white;
}

.big-dark {
  font-size: 2rem;
  margin: 0 0 30px 0;
  color: black;
}

.small-dark {
  width: 40%;
  margin: 0 auto;
  line-height: 1.5rem;
  margin-bottom: 30px;
}

.recommendation-button button {
  font-weight: bold;
  font-size: 1.25rem;
  color: lightskyblue;
  background-color: white;
  border-radius: 4px;
  border: none;
  padding: 10px 30px;
  margin-bottom: 30px;
}